weather_forecast/token.json
historical_data/alarms.csv
historical_data/all_weather_by_hour_v2.csv
historical_data/regions.csv
historical_data/join_data.ipynb
weather_api/token.json
clean_data/final_data_v2.csv
preparation_training/files_for_prediction/token.json
clean_data/all_weather_by_hour_v2.csv
clean_data/alarms.csv
clean_data/regions.csv
preparation_training/files_for_prediction/data/final_data_for_predict.csv